body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rutulys {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  border: solid 3px black;

}

.mygtukas {
  
  background-color: purple;
  padding: 10px;
  font-size: 30px;
  letter-spacing: 2px;
  color: yellow;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  
 
}